# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
coverage/

# Next.js
.next/
out/
.next/cache/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
*.swp